/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 24 novembre 19h00
*/

.Gallery-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 100px 50px 100px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--greyhyperlight);
    gap: 20px;
}

@media screen and (max-width: 992px) {
    .Gallery-wrapper {
    background-color: var(--white);
    margin: 30px 0;
    padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .Gallery-wrapper {
        flex-direction: column;
        background-color: var(--white);
        margin: 10px 0;
        padding: 0;
    }
}