/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 17 novembre 19h00
*/

.CardContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 340px;
    height: 340px;
    border-radius: 15px;
    margin-bottom: 20px;
    animation: fadeInUp 600ms ease-in-out;
    overflow: hidden;
}

.Thumb {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.Espace {
    position: absolute;
    top: 0;
    width: 100%;
}

.TitreLocation {
    position: absolute;
    top: 260px;
    left: 0;
    color: var(--white);
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: start;
    font-weight:500;
    line-height: 142.6%;
    margin: 15px 20px;
}
