/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 24 novembre 19h00
*/
article {
    flex: 1 1 30%;
}
.CardContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.CardContainer:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: transform ease-in-out;
    animation: fadeInUp 600ms ease-in-out;
}

.Thumb {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.Espace {
    position: absolute;
    top: 0;
    width: 100%;
}

.TitreLocation {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--white);
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: start;
    font-weight:500;
    line-height: 26px;
    margin: 15px 20px;
}

@media screen and (max-width: 768px) {
    .CardContainer {
        width: 335px;
        height: 255px;
    }
}