/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 22 novembre 19h00
*/

.collapse {
  max-width: 1023px;
  margin: 32px auto;
  border-radius: 5px;
  background-color: var(--greyhyperlight);
}
  
.collapse.is-close {
  background-color: var(--white);
}
  
.collapse-title,
.collapse-text {
  line-height: 32px;
  font-size: 24px;
}
  
.collapse-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 16px;
  width: 1024px;
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--redprimary);
  cursor: pointer;
}
  
.collapse-title span {
  padding: 5px 0;
}
  
.collapse-title i {
  padding: 8px 16px;
}
  
.collapse-text {
  height: 100%;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  color: var(--redprimary);
  font-weight: 400;
  opacity: 1;
  transition: 200ms;
}
  
.collapse-text.is-close {
  padding: 0 16px;
  height: 0;
  opacity: 0;
}
  
@media screen and (max-width: 1440px) {
  .collapse {
    margin: 16px auto;
  }
  
  .collapse-title, .collapse-text {
    line-height: 22px;
    font-size: 16px;
  }
  
  .collapse-title span {
    padding: 2px 0;
  }
  
  .collapse-title i {
    padding: 5px 0;
  }
  
  .collapse-text {
    padding: 16px;
  }
}