/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 22 novembre 19h00

CSS pour LA PAGE FICHE LOGEMENT
*/

main {
    margin: 0 5%;
    background-color: var(--white);
}

.block-primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 300px;
    margin: 0 auto;
}

.block-info {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0;
    padding: 0;
}

.titreAppartement {
    color: var(--redprimary);
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    text-align: start;
}

.location {
    color: var(--redprimary);
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    text-align: start;
}

.tags-info {
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
    margin: 0;
    padding:0;
}

.block-host {
    width: 25%;
    margin: 0;
    padding: 0;
}

.block-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.titre-secondary {
    display: block;
    width: auto;
    height: 60px;
    color: var(--white);
    background-color: var(--redprimary);
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 15px 20px 0 0;
    padding: 15px;
    border-radius: 10px;
}

.text-secondary {
    color: var(--redprimary);
    background-color: var(--greyhyperlight);
    display: block;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    border-radius: 10px;
    margin: 0 20px 0 0;
    padding: 30px 20px;
}

.block-description-equipement {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .block-description-equipement {
        width: 100%;
    }

    .block-primary {
        height: 450px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: baseline;
        margin: 0 auto;
    }

    .block-info {
        width: 75%;
        height: 350px;
        margin: 0;
        padding: 0;

    }
}

@media screen and (max-width: 768px) {
    .block-description-equipement {
        width: 100%;
    }

    .block-primary {
        height: 550px;
    }

    .block-info {
        height: 550px;
        justify-content: center;
    }

    .tags-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 550px;
    }
}