/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 17 novembre 19h00
*/

.HeaderContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 40px 0;
    padding: 0;
}

.HomeLogo {
	width: 210px;
    height: 68px;
}