/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 24 novembre 19h00
*/

.host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0;
}

.host-name {
    color: var(--redprimary);
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.host-firstname {
    margin: 0;
    padding: 0;
}

.host-lastname {
    margin: 0;
    padding: 0;
}

.host-thumb {
    width: 64px;
    height: 64px;
    margin: 10px;
    border-radius: 50%;
}

.host-star {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 180px;
    height: 40px;
    margin: 20px 0 0 0;
}

.size-star {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 992px) {
    .host-thumb {
        width: 100px;
        height: 100px;
    }

    .size-star {
        width: 18px;
        height: 18px;
    }

    .host-star {
        justify-content: start;
        width: 180px;
        height: 40px;
        margin: 0;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .host-name {
        font-size: 12px;
        line-height: 18px;
    }

    .host-thumb {
        width: 32px;
        height: 32px;
    }

    .host-star {
        justify-content: start;
        margin: 0;
        padding: 0;
    }

    .size-star {
        width: 15px;
        height: 15px;
    }
}
