/*  Projet OpenClassrooms n°07
    Agence immobilière KASA
    par Manuel MILLET 24 novembre 19h00
*/

* {
  box-sizing: border-box;
}

:root {
  --redprimary: #ff6060;
  --greyhyperlight: #f6f6f6;
  --greylight: #e5e5e5;
  --greymedium: #7f7f7f;
  --greydark: #3f3f3f;
  --white: #ffffff;
  --black: #000000;
}

html {
  display: block;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-weight: 500;
  line-height: 18.4px;
  background-color: var(--white);
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}